## Loading Iris Dataset

In [1]:
import numpy as np

In [2]:
import pandas as pd

In [6]:
df=pd.read_csv(r"C:\Users\ASUS\OneDrive\文件\Pratik Wankhede B205\iris\iris.data",header=None)

In [7]:
df.columns=['SL','SW','PL','PW','class']

In [8]:
df

      SL   SW   PL   PW           class
0    5.1  3.5  1.4  0.2     Iris-setosa
1    4.9  3.0  1.4  0.2     Iris-setosa
2    4.7  3.2  1.3  0.2     Iris-setosa
3    4.6  3.1  1.5  0.2     Iris-setosa
4    5.0  3.6  1.4  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
145  6.7  3.0  5.2  2.3  Iris-virginica
146  6.3  2.5  5.0  1.9  Iris-virginica
147  6.5  3.0  5.2  2.0  Iris-virginica
148  6.2  3.4  5.4  2.3  Iris-virginica
149  5.9  3.0  5.1  1.8  Iris-virginica

[150 rows x 5 columns]

## Analysis Steps

In [9]:
df.shape

(150, 5)

In [10]:
df.dtypes

SL       float64
SW       float64
PL       float64
PW       float64
class     object
dtype: object

In [11]:
df.head()

    SL   SW   PL   PW        class
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa
2  4.7  3.2  1.3  0.2  Iris-setosa
3  4.6  3.1  1.5  0.2  Iris-setosa
4  5.0  3.6  1.4  0.2  Iris-setosa

In [12]:
df.tail()

      SL   SW   PL   PW           class
145  6.7  3.0  5.2  2.3  Iris-virginica
146  6.3  2.5  5.0  1.9  Iris-virginica
147  6.5  3.0  5.2  2.0  Iris-virginica
148  6.2  3.4  5.4  2.3  Iris-virginica
149  5.9  3.0  5.1  1.8  Iris-virginica

In [13]:
df.sample(7)

      SL   SW   PL   PW            class
27   5.2  3.5  1.5  0.2      Iris-setosa
94   5.6  2.7  4.2  1.3  Iris-versicolor
60   5.0  2.0  3.5  1.0  Iris-versicolor
111  6.4  2.7  5.3  1.9   Iris-virginica
107  7.3  2.9  6.3  1.8   Iris-virginica
31   5.4  3.4  1.5  0.4      Iris-setosa
9    4.9  3.1  1.5  0.1      Iris-setosa

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   SL      150 non-null    float64
 1   SW      150 non-null    float64
 2   PL      150 non-null    float64
 3   PW      150 non-null    float64
 4   class   150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [15]:
df

      SL   SW   PL   PW           class
0    5.1  3.5  1.4  0.2     Iris-setosa
1    4.9  3.0  1.4  0.2     Iris-setosa
2    4.7  3.2  1.3  0.2     Iris-setosa
3    4.6  3.1  1.5  0.2     Iris-setosa
4    5.0  3.6  1.4  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
145  6.7  3.0  5.2  2.3  Iris-virginica
146  6.3  2.5  5.0  1.9  Iris-virginica
147  6.5  3.0  5.2  2.0  Iris-virginica
148  6.2  3.4  5.4  2.3  Iris-virginica
149  5.9  3.0  5.1  1.8  Iris-virginica

[150 rows x 5 columns]

In [16]:
df

      SL   SW   PL   PW           class
0    5.1  3.5  1.4  0.2     Iris-setosa
1    4.9  3.0  1.4  0.2     Iris-setosa
2    4.7  3.2  1.3  0.2     Iris-setosa
3    4.6  3.1  1.5  0.2     Iris-setosa
4    5.0  3.6  1.4  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
145  6.7  3.0  5.2  2.3  Iris-virginica
146  6.3  2.5  5.0  1.9  Iris-virginica
147  6.5  3.0  5.2  2.0  Iris-virginica
148  6.2  3.4  5.4  2.3  Iris-virginica
149  5.9  3.0  5.1  1.8  Iris-virginica

[150 rows x 5 columns]

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   SL      150 non-null    float64
 1   SW      150 non-null    float64
 2   PL      150 non-null    float64
 3   PW      150 non-null    float64
 4   class   150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [18]:
df.describe()

               SL          SW          PL          PW
count  150.000000  150.000000  150.000000  150.000000
mean     5.843333    3.054000    3.758667    1.198667
std      0.828066    0.433594    1.764420    0.763161
min      4.300000    2.000000    1.000000    0.100000
25%      5.100000    2.800000    1.600000    0.300000
50%      5.800000    3.000000    4.350000    1.300000
75%      6.400000    3.300000    5.100000    1.800000
max      7.900000    4.400000    6.900000    2.500000

In [19]:
min(df['SL'])

4.3

In [20]:
max(df['SL'])

7.9

In [21]:
sum(df['SL'])

876.5

In [22]:
df['SL'].mean()

np.float64(5.843333333333334)

In [23]:
df.isnull()

        SL     SW     PL     PW  class
0    False  False  False  False  False
1    False  False  False  False  False
2    False  False  False  False  False
3    False  False  False  False  False
4    False  False  False  False  False
..     ...    ...    ...    ...    ...
145  False  False  False  False  False
146  False  False  False  False  False
147  False  False  False  False  False
148  False  False  False  False  False
149  False  False  False  False  False

[150 rows x 5 columns]

In [24]:
df.isnull().sum()

SL       0
SW       0
PL       0
PW       0
class    0
dtype: int64

In [25]:
df1=df.dropna(axis=0,inplace=True)

In [26]:
df.shape

(150, 5)

In [27]:
df['class'].value_counts()

class
Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: count, dtype: int64

In [28]:
df.groupby('class').count()

                 SL  SW  PL  PW
class
Iris-setosa      50  50  50  50
Iris-versicolor  50  50  50  50
Iris-virginica   50  50  50  50

In [29]:
df_filtered=df[df['class']!='Iris-setosa']

In [30]:
df_filtered.sample(8)

      SL   SW   PL   PW            class
133  6.3  2.8  5.1  1.5   Iris-virginica
82   5.8  2.7  3.9  1.2  Iris-versicolor
73   6.1  2.8  4.7  1.2  Iris-versicolor
117  7.7  3.8  6.7  2.2   Iris-virginica
102  7.1  3.0  5.9  2.1   Iris-virginica
127  6.1  3.0  4.9  1.8   Iris-virginica
63   6.1  2.9  4.7  1.4  Iris-versicolor
138  6.0  3.0  4.8  1.8   Iris-virginica

In [31]:
x=df.drop(['class'],axis=1)

In [32]:
x

      SL   SW   PL   PW
0    5.1  3.5  1.4  0.2
1    4.9  3.0  1.4  0.2
2    4.7  3.2  1.3  0.2
3    4.6  3.1  1.5  0.2
4    5.0  3.6  1.4  0.2
..   ...  ...  ...  ...
145  6.7  3.0  5.2  2.3
146  6.3  2.5  5.0  1.9
147  6.5  3.0  5.2  2.0
148  6.2  3.4  5.4  2.3
149  5.9  3.0  5.1  1.8

[150 rows x 4 columns]

In [33]:
y=df[['class']]

In [34]:
y

              class
0       Iris-setosa
1       Iris-setosa
2       Iris-setosa
3       Iris-setosa
4       Iris-setosa
..              ...
145  Iris-virginica
146  Iris-virginica
147  Iris-virginica
148  Iris-virginica
149  Iris-virginica

[150 rows x 1 columns]

In [39]:
print(df.columns)

Index(['SL', 'SW', 'PL', 'PW', 'class'], dtype='object')

## train_test_split

In [44]:
from sklearn.model_selection import train_test_split

In [45]:
X = df.drop(columns=['class'])
y = df['class']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [46]:
X_train

      SL   SW   PL   PW
96   5.7  2.9  4.2  1.3
105  7.6  3.0  6.6  2.1
66   5.6  3.0  4.5  1.5
0    5.1  3.5  1.4  0.2
122  7.7  2.8  6.7  2.0
..   ...  ...  ...  ...
71   6.1  2.8  4.0  1.3
106  4.9  2.5  4.5  1.7
14   5.8  4.0  1.2  0.2
92   5.8  2.6  4.0  1.2
102  7.1  3.0  5.9  2.1

[100 rows x 4 columns]

In [47]:
y_train

96     Iris-versicolor
105     Iris-virginica
66     Iris-versicolor
0          Iris-setosa
122     Iris-virginica
            ...
71     Iris-versicolor
106     Iris-virginica
14         Iris-setosa
92     Iris-versicolor
102     Iris-virginica
Name: class, Length: 100, dtype: object

In [48]:
X_test

      SL   SW   PL   PW
73   6.1  2.8  4.7  1.2
18   5.7  3.8  1.7  0.3
118  7.7  2.6  6.9  2.3
78   6.0  2.9  4.5  1.5
76   6.8  2.8  4.8  1.4
31   5.4  3.4  1.5  0.4
64   5.6  2.9  3.6  1.3
141  6.9  3.1  5.1  2.3
68   6.2  2.2  4.5  1.5
82   5.8  2.7  3.9  1.2
110  6.5  3.2  5.1  2.0
12   4.8  3.0  1.4  0.1
36   5.5  3.5  1.3  0.2
9    4.9  3.1  1.5  0.1
19   5.1  3.8  1.5  0.3
56   6.3  3.3  4.7  1.6
104  6.5  3.0  5.8  2.2
69   5.6  2.5  3.9  1.1
55   5.7  2.8  4.5  1.3
132  6.4  2.8  5.6  2.2
29   4.7  3.2  1.6  0.2
127  6.1  3.0  4.9  1.8
26   5.0  3.4  1.6  0.4
128  6.4  2.8  5.6  2.1
131  7.9  3.8  6.4  2.0
145  6.7  3.0  5.2  2.3
108  6.7  2.5  5.8  1.8
143  6.8  3.2  5.9  2.3
45   4.8  3.0  1.4  0.3
30   4.8  3.1  1.6  0.2
22   4.6  3.6  1.0  0.2
15   5.7  4.4  1.5  0.4
65   6.7  3.1  4.4  1.4
11   4.8  3.4  1.6  0.2
42   4.4  3.2  1.3  0.2
146  6.3  2.5  5.0  1.9
51   6.4  3.2  4.5  1.5
27   5.2  3.5  1.5  0.2
4    5.0  3.6  1.4  0.2
32   5.2  4.1  1.5  0.1
142  5.8  2.7  5.1  1.9
85   6.0  3.4  4.5  1.6
86   6.7  3.1  4.7  1.5
16   5.4  3.9  1.3  0.4
10   5.4  3.7  1.5  0.2
81   5.5  2.4  3.7  1.0
133  6.3  2.8  5.1  1.5
137  6.4  3.1  5.5  1.8
75   6.6  3.0  4.4  1.4
109  7.2  3.6  6.1  2.5

In [49]:
y_test

73     Iris-versicolor
18         Iris-setosa
118     Iris-virginica
78     Iris-versicolor
76     Iris-versicolor
31         Iris-setosa
64     Iris-versicolor
141     Iris-virginica
68     Iris-versicolor
82     Iris-versicolor
110     Iris-virginica
12         Iris-setosa
36         Iris-setosa
9          Iris-setosa
19         Iris-setosa
56     Iris-versicolor
104     Iris-virginica
69     Iris-versicolor
55     Iris-versicolor
132     Iris-virginica
29         Iris-setosa
127     Iris-virginica
26         Iris-setosa
128     Iris-virginica
131     Iris-virginica
145     Iris-virginica
108     Iris-virginica
143     Iris-virginica
45         Iris-setosa
30         Iris-setosa
22         Iris-setosa
15         Iris-setosa
65     Iris-versicolor
11         Iris-setosa
42         Iris-setosa
146     Iris-virginica
51     Iris-versicolor
27         Iris-setosa
4          Iris-setosa
32         Iris-setosa
142     Iris-virginica
85     Iris-versicolor
86     Iris-versicolor
16         Iris-setosa
10         Iris-setosa
81     Iris-versicolor
133     Iris-virginica
137     Iris-virginica
75     Iris-versicolor
109     Iris-virginica
Name: class, dtype: object